{% if ollama_enabled or ollama_description %}
    <div class="card border-secondary">
        <div class="card-body py-2">
            {% if ollama_description %}
                <p style="white-space: pre-line">{{ ollama_description }}</p>
            {% elif ollama_enabled %}
                <span>
                    <a class="btn btn-primary" href="{{ url_for('objects_item.image_describe') }}?gid={{ image_gid }}"><i class="fa-solid fa-magnifying-glass-plus"></i> 📝Image Description</a>
                </span>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if image_phash %}
    <div class="card border-secondary mt-2">
        <div class="card-body py-2">
            <div class="row">
                <div class="col-3">
                    <strong>Percept<br>Hash:</strong>
                </div>
                <div class="col-9"><code>{{ image_phash }}</code></div>
            </div>
        </div>
    </div>
{% endif %}